{% extends "base_auth.html" %}
{% load static %}

{% block content %}
<style>
    .login-box {
        text-align: center;
        width: 100%;
        max-width: 400px;
        margin-top: 20px;
    }

    .stokka-icon {
        width: 100px;
        margin: 10px 0;
        cursor: pointer;
    }

    .auth-subtitle {
        letter-spacing: 4px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .form-group {
        text-align: left;
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

    .form-options {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-top: 5px;
    }

    .confirm-btn {
        background: white;
        color: var(--verde-stokka);
        border: none;
        padding: 12px 60px;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        text-transform: uppercase;
        margin-top: 30px;
        transition: 0.3s;
    }

    .confirm-btn:hover {
        background-color: #f0f0f0;
        transform: scale(1.01);
    }

    .register-link {
        display: block;
        margin-top: 20px;
        color: white;
        text-decoration: underline;
        font-size: 13px;
    }
</style>

<div class="login-box">
    <a href="{% url 'login' %}">
        <img src="{% static 'assets/Logo stokka.png' %}" class="stokka-icon" alt="Logo">
    </a>
    <h2 class="auth-subtitle">INICIO DE SESIÓN</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="username" class="form-input" placeholder="user@gmail.com">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="password" class="form-input" placeholder="itaca1234">
            <div class="form-options">
                <label><input type="checkbox"> Recuérdame</label>
                <a href="#" style="color: white;">¿Olvidaste la contraseña?</a>
            </div>
        </div>
        <button type="submit" class="confirm-btn">Confirmar</button>
        <a href="{% url 'registro' %}" class="register-link">No estoy registrado</a>
    </form>
</div>
{% endblock %}