{% extends 'layouts/base_auth.html' %}
{% load static %}

{% block content %}
<div class="register-box text-center pb-5 mx-auto" style="max-width: 1100px; width: 100%;">

    <h2 class="auth-subtitle mb-5 text-white" style="letter-spacing: 4px; font-weight: 400; text-transform: uppercase;">
        REGISTRARSE</h2>

        {% if error %}
            <div class="alert alert-danger border-0 rounded-3 shadow-sm mb-4">
                <i class="fa-solid fa-triangle-exclamation me-2"></i> {{ error }}
            </div>
        {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="row align-items-center justify-content-center gx-lg-5 gy-4">

            <div class="col-12 col-md-5 text-start" style="max-width: 380px;">
                <div class="mb-3">
                    <label class="text-white small mb-1 d-block">Nombre *</label>
                    <input type="text" name="first_name" class="form-control border-0 rounded-2 py-2"
                        placeholder="Tu nombre" style="background: var(--blanco);" required>
                </div>
                <div class="mb-3">
                    <label class="text-white small mb-1 d-block">Email Corporativo *</label>
                    <input type="email" name="email" class="form-control border-0 rounded-2 py-2"
                    placeholder="ejemplo@stokka.com" style="background: var(--blanco);" required>
                </div>
            </div>

            <div class="col-12 col-md-2 d-flex justify-content-center align-items-center my-3 my-md-0">
                <a href="{% url 'login' %}">
                    <img src="{% static 'assets/Logo stokka.png' %}" class="stokka-icon" style="width: 110px;"
                        alt="Logo">
                </a>
            </div>

            <div class="col-12 col-md-5 text-start" style="max-width: 380px;">
               <div class="mb-3">
                    <label class="text-white small mb-1 d-block">Nombre de la Empresa *</label>
                    <input type="text" name="nombre_empresa" class="form-control border-0 rounded-2 py-2"
                        placeholder="Stokka Logistics" style="background: var(--blanco);" required>
                </div>
                <div class="mb-3">
                    <label class="text-white small mb-1 d-block">Contraseña *</label>
                    <div class="position-relative d-flex align-items-center">
                        <input type="password" name="password" id="id_password"
                            class="form-control border-0 rounded-2 py-2 pe-5 shadow-none" 
                            placeholder="********" style="background: white;" required>
                        
                        <i class="fa-regular fa-eye position-absolute d-none stokka-eye-icon" 
                        id="toggleIcon" 
                        style="right: 15px; cursor: pointer; color: var(--verde-stokka); z-index: 10;"
                        onclick="togglePassword('id_password', 'toggleIcon')"></i>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="text-white small mb-1 d-block">Confirmar Contraseña *</label>
                    <div class="position-relative d-flex align-items-center">
                        <input type="password" name="confirm_password" id="id_confirm_password"
                            class="form-control border-0 rounded-2 py-2 pe-5 shadow-none" 
                            placeholder="********" style="background: white;" required>
                        
                        <i class="fa-regular fa-eye position-absolute d-none stokka-eye-icon" 
                        id="toggleIconConfirm" 
                        style="right: 15px; cursor: pointer; color: var(--verde-stokka); z-index: 10;"
                        onclick="togglePassword('id_confirm_password', 'toggleIconConfirm')"></i>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-5">
                <button type="submit" class="btn btn-light fw-bold text-uppercase py-2"
                    style="color: var(--verde-stokka); border-radius: 10px; padding: 12px 60px; width: 100%; max-width: 400px;">
                    Confirmar
                </button>

                <a href="{% url 'login' %}" class="d-block mt-4 text-white text-decoration-underline"
                    style="font-size: 13px;">
                    Ya estoy registrado, iniciar sesión
                </a>
            </div>
        </div>
        <!-- Errores del form (validación server-side) -->
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger border-0 rounded-3 shadow-sm mb-2">
                    <i class="fa-solid fa-triangle-exclamation me-2"></i> {{ error }}
                </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger border-0 rounded-3 shadow-sm mb-2">
                <i class="fa-solid fa-triangle-exclamation me-2"></i> {{ error }}
            </div>
            {% endfor %}
        {% endif %}
    </form>
</div>
{% endblock %}