{% extends 'layouts/base_auth.html' %}
{% block content %}
<div class="login-box text-center pb-5" style="max-width: 400px; width: 100%;">
    <h2 class="auth-subtitle mb-4 text-white" style="letter-spacing: 3px; font-weight: 400;">
        NUEVA CONTRASEÑA
    </h2>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} py-2 small mb-3">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if token_invalido %}
        <p class="text-white">El enlace no es válido o ya expiró.</p>
        <a href="{% url 'olvide_password' %}" class="btn btn-light fw-bold w-100 mt-3"
           style="color: var(--verde-stokka);">Solicitar nuevo enlace</a>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <div class="text-start mb-3">
                <label class="text-white small mb-1 d-block">Nueva contraseña</label>
                <div class="position-relative d-flex align-items-center">
                    <input type="password" name="password1" id="id_pass1"
                        class="form-control border-0 rounded-2 py-2 pe-5 shadow-none"
                        placeholder="Mínimo 8 caracteres" style="background: white;" required>
                    <i class="fa-regular fa-eye position-absolute d-none stokka-eye-icon"
                    id="toggleIcon1"
                    style="right: 15px; cursor: pointer; color: var(--verde-stokka); z-index: 10;"
                    onclick="togglePassword('id_pass1', 'toggleIcon1')"></i>
                </div>
            </div>

            <div class="text-start mb-4">
                <label class="text-white small mb-1 d-block">Repite la contraseña</label>
                <div class="position-relative d-flex align-items-center">
                    <input type="password" name="password2" id="id_pass2"
                        class="form-control border-0 rounded-2 py-2 pe-5 shadow-none"
                        placeholder="Repite la contraseña" style="background: white;" required>
                    <i class="fa-regular fa-eye position-absolute d-none stokka-eye-icon"
                    id="toggleIcon2"
                    style="right: 15px; cursor: pointer; color: var(--verde-stokka); z-index: 10;"
                    onclick="togglePassword('id_pass2', 'toggleIcon2')"></i>
                </div>
            </div>
            <button type="submit" class="btn btn-light fw-bold text-uppercase w-100 py-2"
                    style="color: var(--verde-stokka); border-radius: 10px;">
                Cambiar contraseña
            </button>
        </form>
    {% endif %}
</div>
{% endblock %}