{% extends 'layouts/base_auth.html' %}
{% block content %}
<div class="text-center text-white py-5">
    <h1 style="font-size: 6rem; font-weight: 700;">404</h1>
    <p class="fs-4">¡Vaya! Parece que este producto no está en nuestro inventario.</p>
    <p class="text-white-50">La página que buscas se ha ido sin dejar rastro de stock.</p>

    <div class="mt-4">
        <a href="{% url 'index' %}" class="btn btn_selector m-1">Inicio</a>
        <a href="{% url 'inventario' %}" class="btn btn_selector m-1">Inventario</a>
        <a href="{% url 'perfil' %}" class="btn btn_selector m-1">Mi Perfil</a>
    </div>
</div>
{% endblock %}