{% extends 'layouts/base_auth.html' %}
{% block content %}
<div class="text-center text-white py-5">
    <h1 style="font-size: 6rem; font-weight: 700;">500</h1>
    <p class="fs-4">¡Alguien ha tirado una estantería en el servidor!</p>
    <p class="text-white-50">Nuestros operarios están recogiendo el desorden. Intenta recargar en un momento.</p>
    <div class="mt-4">
        <a href="/" class="btn btn_selector" style="color: var(--verde-stokka);">Sacarme de aquí</a>
    </div>
</div>
    {% endblock %}