<form method="POST" action="{% url 'editar_producto' producto.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-body p-4">
        <div class="row g-3">
            {% for field in form %}
            <div class="col-{% if field.name == 'descripcion' or field.name == 'nombre' %}12{% else %}6{% endif %}">
                <label class="small text-muted fw-bold">{{ field.label }}
                    {% if field.field.required %}
                    <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ field }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal-footer border-0 p-4 pt-0">
        <div class="d-flex flex-column flex-md-row gap-2 justify-content-md-end w-100">
            <button type="submit"
                class="btn btn-stokka w-100 w-md-auto px-md-4 py-2 rounded-3 fw-bold text-uppercase shadow-sm order-1 order-md-2 text-nowrap">
                <i class="fa-solid fa-floppy-disk me-2"></i>ACTUALIZAR CAMBIOS
            </button>
            <button type="button"
                class="btn btn-cancelar-stokka w-100 w-md-auto px-md-4 py-2 rounded-3 fw-bold text-uppercase small order-2 order-md-1 text-nowrap"
                data-bs-dismiss="modal">
                CANCELAR
            </button>
        </div>
    </div>
</form>